// ------------------------------------
// Colors
// ------------------------------------
$color-brand-red: #e00122;
$color-brand-black: #000;

$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;