<div id="wrapper">
	<header id="masthead" class="site-header">
		<div id="search">
			<div class="container">
				<img alt="search - Search"
					src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=search&amp;panename=search%20-%20Search"
					title="search - Search" data-runat="server" data-template_pane="1"
					data-paneid="search"
					data-panedescription="Search" />
			</div>
		</div>
		<div class="container">
			<img alt="masthead - Masthead"
				src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=masthead&amp;panename=masthead%20-%20Masthead"
				title="masthead - Masthead" data-runat="server" data-template_pane="1"
				data-paneid="masthead"
				data-panedescription="Masthead" />
		</div>
	</header>

	<div id="content" class="class-content">
		<img alt="content - Content"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=content&amp;panename=content%20-%20Content"
			title="content - Content" data-runat="server" data-template_pane="1"
			data-paneid="content"
			data-panedescription="Content" />
	</div>
	<div id="givingForm">
		<div class="container">
			<img alt="givingForm - Giving Form"
				src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=givingForm&amp;panename=givingForm%20-%20Giving%20Form"
				title="givingForm - Giving Form" data-runat="server" data-template_pane="1"
				data-paneid="givingForm"
				data-panedescription="Giving%20Form" />
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			<div class="row"><img alt="footer - Footer"
					src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=footer&amp;panename=footer%20-%20Footer"
					title="footer - Footer" data-runat="server" data-template_pane="1"
					data-paneid="footer"
					data-panedescription="Footer" /></div>
		</div>
	</footer>
</div>