<div id="mockup" class="scrollContainer">
	<div class="u-full-width text-center ie-not-supported">If you are using
		Internet Explorer you may experience issues when registering for events or
		making online payments.</div>
	<header role="banner">
		<div id="search">
			<div class="container"><img alt="Redesign-Search - Redesign Search"
					src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Search&amp;panename=Redesign-Search%20-%20Redesign%20Search"
					title="Redesign-Search - Redesign Search" data-runat="server"
					data-template_pane="1"
					data-paneid="Redesign-Search" data-panedescription="Redesign%20Search" /></div>
		</div>
		<div class="container"><img alt="Redesign-Logo - Redesign Logo"
				src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Logo&amp;panename=Redesign-Logo%20-%20Redesign%20Logo"
				title="Redesign-Logo - Redesign Logo" data-runat="server"
				data-template_pane="1"
				data-paneid="Redesign-Logo" data-panedescription="Redesign%20Logo" /> <img
				alt="Redesign-Header - Redesign Header"
				src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Header&amp;panename=Redesign-Header%20-%20Redesign%20Header"
				title="Redesign-Header - Redesign Header" data-runat="server"
				data-template_pane="1"
				data-paneid="Redesign-Header" data-panedescription="Redesign%20Header" /></div>
		<img alt="redesign-mobile-search-give - Redesign - Search Give%2- Nav"
			class="hide"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=redesign-mobile-search-give&amp;panename=redesign-mobile-search-give%20-%20Redesign%20-%20Search%20Give%252-%20Nav"
			title="redesign-mobile-search-give - Redesign - Search Give%2- Nav"
			data-runat="server"
			data-template_pane="1" data-paneid="redesign-mobile-search-give"
			data-panedescription="Redesign%20-%20Search%20Give%252-%20Nav" />
	</header>
	<!--<span id="main-content"></span>-->
	<main id="main" role="main"><img alt="Redesign-Hero - Redesign Hero"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Hero&amp;panename=Redesign-Hero%20-%20Redesign%20Hero"
			title="Redesign-Hero - Redesign Hero" data-runat="server"
			data-template_pane="1" data-paneid="Redesign-Hero"
			data-panedescription="Redesign%20Hero" /> <img alt="Redesign-Manifesto -
			Redesign Manifesto"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Manifesto&amp;panename=Redesign-Manifesto%20-%20Redesign%20Manifesto"
			title="Redesign-Manifesto - Redesign Manifesto" data-runat="server"
			data-template_pane="1"
			data-paneid="Redesign-Manifesto" data-panedescription="Redesign%20Manifesto"
			/> <img
			alt="Redesign-Stories - Redesign Stories"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Stories&amp;panename=Redesign-Stories%20-%20Redesign%20Stories"
			title="Redesign-Stories - Redesign Stories" data-runat="server"
			data-template_pane="1"
			data-paneid="Redesign-Stories" data-panedescription="Redesign%20Stories" />
		<img
			alt="Redesign-CTA - Redesign CTA"
			src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-CTA&amp;panename=Redesign-CTA%20-%20Redesign%20CTA"
			title="Redesign-CTA - Redesign CTA" data-runat="server"
			data-template_pane="1" data-paneid="Redesign-CTA"
			data-panedescription="Redesign%20CTA" /></main><img
		alt="redesign-head-content - Redesign Head content"
		src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=redesign-head-content&amp;panename=redesign-head-content%20-%20Redesign%20Head%20content"
		title="redesign-head-content - Redesign Head content" data-runat="server"
		data-template_pane="1"
		data-paneid="redesign-head-content"
		data-panedescription="Redesign%20Head%20content" /> <img
		alt="Redesign-Footer - Redesign Footer"
		src="https://ucfoun-stg-bbis.concoursehost.com/view.image?pane=Redesign-Footer&amp;panename=Redesign-Footer%20-%20Redesign%20Footer"
		title="Redesign-Footer - Redesign Footer" data-runat="server"
		data-template_pane="1"
		data-paneid="Redesign-Footer" data-panedescription="Redesign%20Footer" />
</div>